.certifica{
  text-align: center;
  border: var(--rem-2px) solid var(--cor-primaria);
  border-radius: var(--rem-4px);
  padding: var(--rem-20px);
}

.certifica_texto {
  font-size: var(--rem-24px);
  line-height: 1.33;
  margin-bottom: var(--rem-10px);
}

.certifica_texto,
.certifica img {
  display: block; /* Garante que o texto e a imagem sejam elementos de bloco */
  margin-left: auto;
  margin-right: auto;
}