.experiencia {
  max-width: 1200px;
  min-height: 90vh;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  color: var(--cor-branca);
  align-items: center;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

.empresa {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid var(--cor-primaria);
  position: relative;
}

.empresa_ano {
  position: absolute;
  top: 20px;
  left: -150px;
  font-size: 0.875rem;
  width: 230px;
  text-align: center;
}

.empresa_titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa_texto {
  font-size: 0.875rem;
  line-height: 1.4;
}

.empresa_habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa_habilidades li {
  font-size: 0.785rem;
  line-height: 1.4;
  border-radius: 4px;
  border: 2px solid var(--cor-primaria);
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: initial;
    text-align: center;
  }

  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
    margin-top: auto;

  }

  .empresa_ano {
    width: initial;
    bottom: 10px;
    right: 10px;
    top: initial;
    left: initial;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
