:root{
    --contatos: #a3a3a3
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

footer a:hover{
    --contatos: #40ffd1;
}

.oi{
    background: wheat;
}