.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--rem-20px);
}

.contato a:hover{
    --cor-contatos: var(--cor-primaria);
}

.contato a{
    color: var(--cor-contatos);
}

footer span{
    color: var(--cor-contatos);
}

.gmail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--rem-10px);
    margin-bottom: var(--rem-15px);
}

