:root{
    --contatos: #a3a3a3
}

.contato{
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contato a:hover{
    --contatos: #40ffd1;
}

.ioio{
    background: rgba(255, 0, 0, 0.5);
}