.formacao {
  max-width: var(--rem-1200px);
  min-height: 90vh;
  padding: var(--rem-40px) var(--rem-20px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--rem-100px);
  color: white;
  align-items: center;
}

.formacao_texto {
  font-size: var(--rem-24px);
  line-height: 1.33;
  margin-bottom: var(--rem-60px);
}

.faculdade_lista {
  display: flex;
  flex-wrap: wrap;
  gap: var(--rem-20px);
  margin-bottom: var(--rem-60px);
}

.faculdade {
  flex: 1;
  padding: var(--rem-20px);
  border-radius: var(--rem-4px);
  border: var(--rem-2px) solid var(--cor-primaria);
  display: flex;
  flex-direction: column;
}

.faculdade_tipo {
  font-size: var(--rem-14px);
  text-transform: uppercase;
  margin-bottom: var(--rem-16px);
}

.faculdade_curso {
  flex: 1;
  font-size: var(--rem-18px);
  line-height: 1.4;
  margin-bottom: var(--rem-40px);
  position: relative;
}

.faculdade_instituicao {
  font-size: var(--rem-18px);
}

.formacao .subtitulo{
    max-width: 5ch;
}

@media (max-width: 800px) {
  .formacao {
    grid-template-columns: 1fr;
    padding: var(--rem-60px) var(--rem-20px);
    gap: initial;
    text-align: center;
  }
  .formacao .subtitulo {
    font-size: var(--rem-48px);
    text-transform: capitalize;
    max-width: initial;
    margin-top: auto;
  }
  .formacao_texto{
    font-size: var(--rem-20px);
  }
  .faculdade_lista{
    display: grid;
    grid-template-columns: 1fr;
  }
}

