.logo {
  max-width: var(--rem-50px);
}

.header {
  max-width: var(--rem-1200px);
  margin: 0 auto;
  padding: var(--rem-18px) var(--rem-18px);
  display: grid;
  grid-template-columns: var(--rem-50px) 1fr;
  gap: var(--rem-20px);
  z-index: 1;
  position: relative;
}

.header_menu {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--rem-16px);
  background: var(--cor-primaria);
  align-items: center;
  height: var(--rem-50px);
  border-radius: var(--rem-15px);
}

.header_menu_div {
  display: flex;
  justify-content: right;
  padding-right: var(--rem-16px);
  gap: var(--rem-10px);
  background: var(--cor-primaria);
  align-items: center;
  height: var(--rem-50px);
  border-radius: var(--rem-15px);
}

.header_menu_div a {
  padding: var(--rem-20px);
}

.header_menu_hamburger {
  position: fixed;
  display: none;
  border: none;
  background: none;
  border-top: var(--rem-3px) solid var(--cor-primaria);
  cursor: pointer;
}

.header_menu_hamburger::before,
.header_menu_hamburger::after {
  content: "";
  display: block;
  width: var(--rem-30px);
  height: var(--rem-3px);
  background: var(--cor-primaria);
  margin-top: var(--rem-5px);
  position: relative;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header_menu {
    background: var(--cor-preta);
  }
  .header_menu_hamburger {
    display: block;
    z-index: 1;
  }

  .header_nav.active .header_menu_hamburger {
    border-top-color: transparent;
  }

  .header_nav.active .header_menu_hamburger::before {
    transform: rotate(135deg);
    background: var(--cor-preta);
  }

  .header_nav.active .header_menu_hamburger::after {
    transform: rotate(-135deg);
    background: var(--cor-preta);
    top: var(--rem--7px);
  }

  .header_menu_div {
    position: fixed;
    top: -100%;
    right: var(--rem-34px);
    width: var(--rem-160px);
    height: var(--rem-200px);
    background: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: var(--rem-10px);
    transition: all 0.5s ease;
  }

  .header_menu_div a {
    display: block;
    margin: var(--rem-12px) 0;
    padding: 0 var(--rem-25px);
    transition: all 0.5s ease;
  }

  .header_menu_div.active {
    top: var(--rem-30px);
    right: var(--rem-34px);
  }
}
