.introducao {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--rem-1200px);
  min-height: 100vh;
  margin: var(--rem--90_77px) auto 0 auto;
  color: var(--cor-primaria);
  position: relative;
}

.introducao div {
  text-align: center;
}

.introducao h1 {
  font-size: var(--rem-120px);
}

.scroll_down {
  height: var(--rem-50px);
  width: var(--rem-30px);
  border: var(--rem-2px) solid var(--cor-primaria);
  position: absolute;
  left: 45%;
  bottom: var(--rem-20px);
  border-radius: var(--rem-50px);
  cursor: pointer;
}

.scroll_down::before,
.scroll_down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: var(--rem-2px) solid var(--cor-primaria);
  height: var(--rem-10px);
  width: var(--rem-10px);
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll_down 1s ease-in-out infinite;
}

.scroll_down::after {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll_down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@media (max-width: 800px) {
  .introducao h1 {
    font-size: var(--rem-80px);
  }
}

@media (max-width: 400px) {
  .introducao h1 {
    font-size: var(--rem-40px);
  }
  .scroll_down {
    bottom: var(--rem-150px);
  }
}
