/* body {
    background: linear-gradient(to bottom, #000, #40ffd1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  } */

  body{
    background: #0f172a;
  }

  img{
    max-width: 500px;
  }
  